@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f7f8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #599c86;
    padding: 15px 25px;
    margin: 10px 20px;
    border-radius: 30px;
}

nav a {
    color: #f5f7f8;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #1f1f1f;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 0;
    background-color: #f5f7f8;
}

.product-table th,
.product-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f5f7f8;
}

.product-table th {
    background-color: #599c86;
    color: #f5f7f8;
}

tr:hover {
    background-color: #e7e5e5;
}

.product-table img {
    max-width: 100px;
    height: auto;
}

.product-table .actions a {
    margin-right: 10px;
    text-decoration: none;
}

.delete{
    color: #f5f7f8;
    background-color: #599c86;
    border: 1px solid #1f1f1f;
    padding: 5px 10px ;
}

.edit{
    color: #1f1f1f;
    background-color: #f4ce14;

    border: 1px solid #1f1f1f;
    padding: 5px 10px ;
}